.input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.input label {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #044bd6;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.input label {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #044bd6;
}

.input input,
.input select {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ffffff;
    border: 2px solid rgba(61, 61, 61, 0.5);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.input-small > input,
.input-small > select {
    padding: 8px 16px;
    font-size: 16px;
}

.input-large > input,
.input-large > select {
    padding: 12px 16px;
    font-size: 20px;
}

.input--icon {
    position: relative;
}

.input--icon input {
    padding-left: 52px;
}

.input--icon svg {
    position: absolute;
    top: 10px;
    left: 16px;
    fill: rgba(61, 61, 61, 0.7);
}

/* ----- Breadcrumbs -----*/

.breadcrumb {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-weight: 600;
    color: rgba(61, 61, 61, 0.7);
}

.breadcrumb p:last-child {
    color: rgba(4, 75, 214, 1);
}

/* ----- Tabs -----*/

.tabs {
    display: flex;
    grid-column: 1 / 13;
}

.tab {
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding: 12px 0;
    color: rgba(61, 61, 61, 0.5);
    border-bottom: 4px solid rgba(61, 61, 61, 0.5);
}

.tab:first-child {
    color: #044bd6;
    border-bottom: 4px solid #044bd6;
}

.tab:last-child {
    width: 100%;
    border-bottom: 4px solid rgba(61, 61, 61, 0.5);
}

/* ----- Buttons -----*/

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    fill: rgba(4, 75, 214, 1);
}

.button-medium {
    padding: 12px 16px;
    font-size: 20px;
}

.button-small {
    padding: 8px 12px;
    font-size: 16px;
}

.button-primary {
    background-color: rgba(4, 75, 214, 1);
    border: none;
    border-radius: 4px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    fill: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.button-primary:hover {
    background-color: #02266b;
}

.button-secondary {
    color: rgba(4, 75, 214, 1);
    border: none;
    border-radius: 4px;
    font-weight: 600;
    line-height: 24px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.button-secondary:hover {
    color: #02266b;
    fill: #02266b;
}

/* ----- Switch -----*/
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch {
    display: flex;
    gap: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(61, 61, 61);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(61, 61, 61, 0.5);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: rgba(4, 75, 214, 1);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgba(4, 75, 214, 1);
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ----- Cards -----*/
.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 16px 24px;
    background: #ffffff;
    box-shadow: 0px 0px 16px rgba(61, 61, 61, 0.1);
    border-radius: 4px;
    color: rgba(61, 61, 61, 0.7);
}

.card .card-title {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(61, 61, 61);
    fill: rgba(61, 61, 61);
}

.card-icons {
    display: flex;
    gap: 16px;
}

.card-actions {
    display: flex;
    gap: 24px;
    align-items: center;
}

.card-action:not(:first-child) {
    display: flex;
    justify-content: center;
    gap: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(4, 75, 214, 1);
    fill: rgba(4, 75, 214, 1);
    cursor: pointer;
    transition: 0.3s;
}

/* ----- Modal ----- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    position: relative;
}

/* The Close Button */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 24px;
    right: 24px;
}

.close:hover,
.close:focus {
    color: #044bd6;
    text-decoration: none;
    cursor: pointer;
}

#view-alert {
    margin-left: 40vw;
    width: 40vw;
    background-color: #fff;
    padding: 24px;
    box-shadow: 0px 0px 16px rgba(61, 61, 61, 0.1);
    border-radius: 4px;
    position: absolute;
    top: 100px;
    display: block;
    z-index: 30;
}

#view-alert h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #3d3d3d;
    margin-bottom: 24px;
}

#view-alert label {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3d3d3d;
}

#view-alert p {
    margin-bottom: 24px;
}

#view-alert--actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#view-alert--actions button {
    width: 100%;
}

/* ----- Success Message -----*/
#success-message--alert {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 16px;
    gap: 16px;
    background: #10ab8b;
    box-shadow: 0px 0px 16px rgba(16, 171, 139, 0.5);
    border-radius: 4px;
    color: #fff;
    position: absolute;
    top: -50%;
    left: 50%;
    z-index: 1000;
}

#success-message--alert.active-animation {
    animation: 5s linear 0s slidein;
}

@keyframes slidein {
    0% {
        top: -50%;
    }
    10% {
        top: 5%;
    }
    85% {
        top: 5%;
    }
    100% {
        top: -50%;
    }
}
